.container {
    display: grid;
    grid-template:
        "header header"
        "aside main"
        / 20% auto;
    min-height: 100vh;

    @include medium {
        grid-template:
            "header"
            "aside"
            "main"
            / 1fr;
    }
}