header {
    grid-area: header;
    height: 100vh;
    display: grid;
    place-content: center center;
    grid-template-columns: 3% 7% 4% 6% 41% 14% 25%;
    grid-template-rows: 13% 12% 42% 23% 10%;

    @include mobile {
        height: 80vh;
    }
}

.logo {
    grid-area: 1 / 5 / 2 / 6;
    place-self: center end;

    & h2 {
        margin-right: 2rem;
        font-family: var(--font-logo);

        & span {
            display: inline-block;
            animation: bounceInDown 1.5s;
        }
    }
}

.social-link {
    grid-area: 2 / 2 / 4 / 4;

    & ul li {
        color: var(--text-light);
        font-size: 1rem;

        & i {
            font-size: 3rem;
            color: var(--secondary);
            margin: 0 1rem .6rem 0;
            cursor: pointer;

            @include medium {
                font-size: 2rem;
            }

            &:hover {
                color: var(--primary);
            }

        }

        & span {
            @include tablet {
                display: none;
            }
        }
    }
}

.rec-bg-right {
    background: linear-gradient(to right top, var(--primary), var(--secondary));
    grid-area: 1 / 6 / 4 / 8;
}

.rec-bg-center {
    background: var(--primary);
    grid-area: 3 / 4 / 6 / 7;
}

.rec-bg-left {
    background: linear-gradient(to left bottom, var(--primary), var(--secondary));
    grid-area: 5 / 2 / 6 / 4;
}

.rec-bg-white {
    background: var(--background);
    grid-area: 5 / 4 / 6 / 5;
}

.title {
    grid-area: 3 / 3 / 4 / 7;
    align-self: end;
    font-family: var(--font-secondary);
    font-size: 1.8rem;

    @include large {
        font-size: 3rem;
    }

    @include tablet-small {
        font-size: 1.2rem;
    }
}

.contact-information {
    grid-area: 4 / 7 / 6 / 8;
    align-self: center;
    color: var(--text-light);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;

    @include large {
        font-size: 2rem;
    }

    @include medium {
        font-size: 1.2rem;
    }

    @include tablet-small {
        font-size: .8rem;
    }

    @include mobile {
        font-size: .5rem;
    }
}