:root {
    // Colors
    --background: #fafafa;
    --primary: #e2e8e8;
    --secondary: #b4d3d3;
    --tertiary: #d3dcdc;
    --text: #3c3c3f;
    --text-light: #c6c6c8;

    // Fonts
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-logo: 'Playfair Display SC', serif;
}